*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

body {
  color: #3f4144;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.title {
  font-size: 36px;
  font-weight: 400;
  margin-top: 50px;
}

.item > img {
  width: 400px;
}

.item {
  display: flex;
  margin: 50px 0;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.item:nth-child(3) > div {
  margin-left: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.content__comments {
  display: inline-block;
  padding: 0;
  width: 25px;
  margin-top: 30px;
}

.content__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.content > span,
.content__subtitle {
  margin-top: 30px;
}

.content__author {
  font-weight: 400;
}

.content__company {
  color: #63c060;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .content__title {
    font-size: 18px;
    line-height: 22px;
  }
  .content > span,
  .content__subtitle {
    font-size: 14px;
    margin-top: 20px;
  }
  .content__comments {
    margin-top: 20px;
  }
}

@media (max-width: 750px) {
  .item > img {
    width: 300px;
  }
}

@media (max-width: 590px) {
  .item {
    flex-direction: column;
    align-items: center;
  }
  .item > img {
    width: 80%;
    margin-bottom: 20px;
  }

  .title {
    margin: 15px auto 0 auto;
  }

  .content {
    width: 80%;
    margin: 0;
    text-align: center;
  }
}
